version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - "3900:3000"
    environment:
      REACT_APP_BACKEND_API_URL: http://localhost:3000
    restart: unless-stopped